body,
html {
  height: 100%;
}

.image {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  z-index: -1;
}

input[type="submit"] {
  color: #fbfcfd;
  padding: 10px 25px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  outline: none;
  font-size: medium;
  cursor: pointer;
}

.content {
  color: #fbfcfd;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
}

h1 {
  font-size: 80px;
  margin: 10px 0 30px;
  line-height: 80px;
}

#leftbox {
  float: left;
}

#rightbox {
  float: right;
  width: 30%;
}
