<!DOCTYPE html>
<html lang="en">
<head>
    <title>Model</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="image"></div>
    <div class="content">
        <div id="leftbox">
            <h1>Logo Detection</h1>
        <br><br>
        <h4>We'll detect the football club from your image</h4>
        <form action="/sub" method="post" enctype="multipart/form-data">
            <input type="file" name="Image" required>
            <input type="submit" value="Predict">
        </form>
        </div>
        <div id="rightbox">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>
</html>